/* Reset */
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
/* Navigation Bar */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 0 60px 0 15px;
    margin:10px auto;
}
.items ul{
    display: flex;
    list-style: none;
    column-gap: 5px;
}
.items ul a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.650);
}
.items ul a:hover{
    color: rgba(0, 0, 0, 0.862);
}
/* Download Body */
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.content{
    display: grid;
    grid-template-columns:192px 192px 192px;
    justify-content: center;

}
.box{
    height: 100px;
    width: 171px;background-color:rgba(237, 231, 231, 0.83);
    border-radius: 10px;
    padding: 7px;
    margin:  10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* column-gap: 40px; no due to flex direction */
    row-gap: 40px;
    /*or gap: 40px; */

}
.lang{
    font-size:small;
    font-weight: bold;
    /* text-align: center; */
    justify-self: center;
}
.btn{
    padding: 4px;color: white;
    font-size: x-small;
    align-items: end;
    border-radius: 5px;
}
.bit32{
    background-color:rgba(51, 181, 220, 0.728) ;
}
.bit64{
    background-color: rgba(73, 189, 20, 0.77);
}
.btn a{
    text-decoration: none;
    color: white;
}
.line{
    height: 1px;
    max-width: 95vw;
    margin: auto;
    background-color: rgb(59, 59, 59);
}
@media(max-width:700px){
    .navigation{
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        gap: 20px;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        height: 150px;
        width: 60vw;
        justify-content: space-around;
    }
}